<link rel="stylesheet" href="/public/style.css" type="text/css">

<header>
    <nav>
        <ul>
            <li>
                <a class="aD" href="/">main</a>
            </li>
            <li>
                <a class="aD" href="/author">Authors</a>
            </li>
            <li>
                <a class="aD" href="/author/new">Add authors</a>
            </li>
            <li>
                <a class="aD" href="/books">Books</a>
            </li>
            <li>
                <a class="aD" href="/books/new">Add books</a>
            </li>
            <li>
                <a class="aD" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>