<html>
<h1>Welcome to our library</h1>
<p>Create an account or login to display our collection</p>
<a href="/register" class="btn btn-primary btn-block mb-2"
  >Register</a>
<a href="/login"> Login</a>
</html>